.btn {
  background-color: $secondary-color;
  border: none;
  outline: 0;
  font-family: $primary-font;
  font-size: 1.4rem;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;

  &--white {
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.25s;

    &:hover {
      background-color: #fff;
      color: #000;
      border: 2px solid $secondary-color;
    }
  }

  &--dark {
    color: #000;
  }
}
